body {
    margin: 0;

    padding-bottom: 5rem;

}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-rev {
    display: flex;
    flex-direction: column-reverse;
}

.gap15 {
    gap: 1.5rem;
}

.gap1 {
    gap: 1rem;
}

header .row:nth-child(1) {
    background-color: #000;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .row:nth-child(1) #logoContainer {
    height: 100%;
    display: flex;
}

header .row:nth-child(1) #logoContainer img {
    width: 200px;
}

header .row:nth-child(1) #links {
    display: flex;
    gap: 2rem;
}

header .row:nth-child(1) #links a {
    color: white
}


header .row:nth-child(1) #links a:visited {
    color: white;
}

header .row:nth-child(2) {
    background-color: #888888;
    justify-content: space-evenly;
    padding: 0rem 5rem;
    cursor: pointer;
}

header .row:nth-child(2) div {
    color: white;
    padding: 1rem .5rem;
}

header .row:nth-child(2) div:hover {
    background-color: #999999;
}

.content {
    justify-content: space-between;
    background-color: #f4f4f4;
}

.banner-row {
    text-align: center;
}

.banner-row img {
    height: 150px;

}

.slider {
    align-items: flex-start;
    position: relative;
    height: fit-content;
}

.back {
    left: 20px;
}

.next {
    right: 20px;
}

.next img {
    transform: rotate(180deg);
}

.arrow {
    position: absolute;
    top: calc(50% - 20px);
    transition: transform .1s linear;
    transform: scale(1);
}

.arrow:hover {
    opacity: .8;
    cursor: pointer;
    transform: scale(0.9);
}

.pagination {
    justify-content: space-between;
    background: white;

}

.pagination .page {
    color: black;
    padding: .5rem 0;
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.pagination .page:hover {
    background-color: #FF0000;
    color: white;
}

.pagination .active {
    color: red;
}

@keyframes borderFill {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.pagination .active {
    color: red;
    position: relative;
}

.pagination .active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    background: red;
    width: 0;
    animation: borderFill 5s ease-out forwards;
}

.pagination .active:hover::after {
    animation-play-state: paused;
}

#slider-content:hover {
    cursor: pointer;
}

.exchangeRates {
    justify-content: space-evenly;
    padding: .5rem 0;

    background-color: white;
    margin-top: 1rem;
    border-left: green 5px solid;
}

.exchangeRate {
    gap: .4rem
}

.active-img {
    z-index: 9;
}

.price::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 9px;
    margin-right: 4px;
    background-size: contain;
    background-repeat: no-repeat;
}

.redPrice {
    color: #fb0b1c;
}

.redPrice::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" fill="none"><path d="M6 8.5L0 0.5H12L6 8.5Z" fill="%23FB0D1B"/></svg>');
}

.greenPrice {
    color: #41b87f;
}

.greenPrice::before {
    transform: rotate(180deg);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 12 9" fill="none"><path d="M6 8.5L0 0.5H12L6 8.5Z" fill="%2341B87F"/></svg>');
}

.card-container {
    flex-wrap: wrap;

    justify-content: center;
    gap: .5rem;
    margin: 1rem 0
}

.card {
    display: flex;
    flex-direction: row-reverse;

    align-items: center;
    width: calc(50% - 10px);


    border-radius: 5px;
    overflow: hidden;
    background-color: white;

}

.card-description,
.card-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-description {

    padding: .5rem;
    height: 100%;
}

.card-description p {
    font-size: 1rem;
    text-align: left;


    text-overflow: ellipsis;
    font-family: SF Pro Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    line-height: 130%;
}

.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider-image {
    width: 100%;
}

.headerMobile {
    display: none;
}